* {
    box-sizing: border-box;
  }
  
  html {
    background-color: black;
    font-family: Franklin Gothic Medium;
  }
  
  section {
    border: 1px brown solid;
    width: 33.33%;
    float: left;
    position: relative;
  
    padding: 10px;
    padding-top: 60px;
    color: mistyrose;
    background-color: lightseagreen;
  }
  p {
    text-align: center;
  }
  
  h1 {
    text-align: center;
    color: mistyrose;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 75px;
    font-family: Franklin Gothic Medium;
  }
  
  section > span {
    background-color: mediumorchid;
  }
  
  span p.title {
    font-weight: bold;
  }
  
  span {
    border: 1px solid red;
    position: absolute;
    width: 35%;
    height: 30%;
    top: 0;
    bottom: 0;
    right: 0;
  }
  

  @media (max-width: 992px) {
    section{
      width: 100%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    section.first {
      width: 50%;
    }
  
    section.second {
      width: 50%;
    }
    section.third {
      width: 100%;
    }
  }

  @media (min-width: 767px) {
    section {
      width: 100%;
    }